

<div class="navmainbody">
<div class="homeandtitle">    
<p class="forum">Forum</p>
<a class="home" href="/home">Home</a>
<a class="home" href="/home">Your list</a>
</div>
<div class="regandlogin">
<%if(!currentuser){%>    
<a class="register" href="/register">Sign Up</a>
<a class="login"   href="/login">Login</a>
<%}else{%>
<div class="avatar avatar-xsm avatar-text avatar-text-xsm">A</div>
    <%}%>
</div>

</div>